@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;

}

/* header outer */
.header-wrapper {
    width: 100%;
    height: 120px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.header-inner {
    width: 70%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
}

.logo-wrapper {
    width: 300px;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.nav-wrapper {
    /* width: 100%; */
    /* height: 100%; */
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-wrapper ul {
    list-style: none;
    display: flex;
}

.nav-wrapper ul li {
    margin-right: 20px;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.nav-wrapper ul li :last-child {
    margin-right: 0px;
}

.nav-wrapper ul li:hover {
    cursor: pointer;
    color: blue;
}

/* header outer */

/* slider outer */
.slider-container {
    height: 700px;
    /* border: 1px solid red; */
    display: flex;
}

.slider-inner {

    /* border: 1px solid red; */
    flex: 1;


}

.left-slider {
    display: flex;
    align-items: center;
    background-image: url(https://img.freepik.com/premium-photo/girls-having-fun-shopping-center_1270664-9093.jpg?w=1060);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.left-side-content-wrapper {
    /* border: 1px solid red; */
    padding: 20px;
    z-index: 2;
}

.left-side-content-wrapper h1 {
    font-size: 45px;
    color: aliceblue;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.left-side-content-wrapper h4 {
    color: aliceblue;
}

.order-now {
    background: none;
    border: 1px solid white;
    margin-top: 50px;
    padding: 9px 16px;
    color: aliceblue;
    cursor: pointer;
}

.left-side-content-wrapper button:hover {
    background-color: aliceblue;
    color: black;
}

.shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(149, 165, 166, 0.5);
    position: absolute;

}

.right-slider {
    display: flex;
    flex-direction: column;
}

.slider-right-wrapper {
    /* border: 1px solid red; */
    flex: 1;
    display: flex;
}

.slider-right-slot {
    flex: 1;
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    color: rgb(14, 14, 1);
    position: absolute;
}

.right-slot {
    background-image: url(https://img.freepik.com/free-photo/shopping-concept-close-up-portrait-young-beautiful-attractive-redhair-girl-smiling-looking-camera-with-shopping-bag-blue-pastel-background-copy-space_1258-837.jpg?t=st=1727424046~exp=1727427646~hmac=8dc3166e401a0c180fd6e86866ec73fe6d6d0a598b1954552ec8cf08f859faab&w=1060);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    color: rgb(19, 19, 19);
    margin: 0 30px 30px 30px;
}


.left-slot {
    background-image: url(https://img.freepik.com/premium-photo/3d-men-holding-shopping-bags-walking-shopping-mall-black-friday-concept_943126-3936.jpg?w=360);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 30px 30px 30px;
}


.data-wrapper {
    width: 90%;
    height: 90%;
    background-color: rgba(44, 62, 80, 0.9);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    position: relative;

    display: none;
}

.slider-right-slot:hover .data-wrapper {
    display: flex;
    z-index: 2;
}

.top-slot {
    background-image: url(https://img.freepik.com/free-photo/portrait-smiling-girl-holding-shopping-bags_23-2147920357.jpg?ga=GA1.1.2093623990.1727420975&semt=ais_hybrid);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 30px 0 30px;
}

.bottom-slot {
    background-image: url(https://img.freepik.com/premium-photo/luxurious-3d-fashion-accessories-sleek-flat-surface_1313031-300.jpg?ga=GA1.1.2093623990.1727420975&semt=ais_hybrid);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 30px 0 30px;
}

/* slider outer */

/* product outer */

.product-containers {
    height: 650px;
    width: 100%;
    margin-top: 100px;
}

.product-detail {
    margin-left: 100px;

}

.product-container {
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-inner {
    width: 80%;
    height: 500px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.product {
    /* flex:1; */
    width: 32%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.product-image-content1 {
    /* border: 1px solid red; */
    flex: 1;
    background-image: url(https://img.freepik.com/premium-photo/stylish-handsome-boy-images-your-projects_1199394-84101.jpg?w=740);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*we need add hidden-items into image*/
    overflow: hidden;
    /*display overflow when click the image */
}

.product-image-content1:hover .hidden-items-context {
    bottom: 0;
}

.product-detail-content {
    /* border: 1px solid red; */
    height: 100px;
    display: flex;
    flex-direction: column;
}

.product-image-content2 {
    /* border: 1px solid red; */
    flex: 1;
    background-image: url(https://img.freepik.com/free-photo/portrait-handsome-bad-boy_329181-1485.jpg?t=st=1727532157~exp=1727535757~hmac=58fcb4cb08b557bd9ed514c58135169d6c685569c4abfde0e53439f936ec2d9d&w=360);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.product-image-content2:hover .hidden-items-context {
    bottom: 0;
}

.product-image-content3 {
    /* border: 1px solid red; */
    flex: 1;
    background-image: url(https://img.freepik.com/premium-photo/young-buy-casual-clothes-standing-with-serious-concentrated-face-crossed-arms-against-purple-background-neon-light-negative-situation_1028938-511178.jpg?w=360);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

}

.product-image-content3:hover .hidden-items-context {
    bottom: 0;
}

.name-rate-container,
.price-container {
    /* border: 1px solid red; */
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.hidden-items-context {
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -60px;
}

.hidden-items-inner {
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;

}

.hidden-items {
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.product-image-content4 {
    /* border: 1px solid red; */
    flex: 1;
    background-image: url(https://img.freepik.com/premium-photo/woman-forest-with-forest-ferns_1308172-599285.jpg?w=740);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*we need add hidden-items into image*/
    overflow: hidden;
    /*display overflow when click the image */
}

.product-image-content4:hover .hidden-items-context {
    bottom: 0;
}

.product-image-content5 {
    /* border: 1px solid red; */
    flex: 1;
    background-image: url(https://img.freepik.com/free-photo/elegant-young-lady-long-burgundy-dress-with-sleeves-waist-band-holding-hand-breasts-blonde-hairstyle-natural-nude-makeup-walking-down-street-near-building_343629-63.jpg?t=st=1727595288~exp=1727598888~hmac=9f46316e10fbf1b66e127615060b10995a3beba5bbf887734555cad3cdbd7cce&w=360);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*we need add hidden-items into image*/
    overflow: hidden;
    /*display overflow when click the image */
}

.product-image-content5:hover .hidden-items-context {
    bottom: 0;
}

.product-image-content6 {
    /* border: 1px solid red; */
    flex: 1;
    background-image: url(https://img.freepik.com/premium-photo/high-fashion-model-elegant-model-posing-fashionable-outfit_1288125-35389.jpg?w=740);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*we need add hidden-items into image*/
    overflow: hidden;
    /*display overflow when click the image */
}

.product-image-content6:hover .hidden-items-context {
    bottom: 0;
}

.product-image-content7 {
    /* border: 1px solid red; */
    flex: 1;
    background-image: url(https://img.freepik.com/free-psd/cute-happy-girl-portrait_23-2150116418.jpg?t=st=1727595573~exp=1727599173~hmac=3aa0e11c385323758053e423e0b16e25d363c947b3b9d1636627a944ee1d23b2&w=360);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*we need add hidden-items into image*/
    overflow: hidden;
    /*display overflow when click the image */
}

.product-image-content7:hover .hidden-items-context {
    bottom: 0;
}

.product-image-content8 {
    /* border: 1px solid red; */
    flex: 1;
    background-image: url(https://img.freepik.com/premium-photo/fashion-accessory-express-positive-emotions-childhood-happiness-summer-party-look_545934-13015.jpg?w=1060);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*we need add hidden-items into image*/
    overflow: hidden;
    /*display overflow when click the image */
}

.product-image-content8:hover .hidden-items-context {
    bottom: 0;
}

.product-image-content9 {
    /* border: 1px solid red; */
    flex: 1;
    background-image: url(https://img.freepik.com/premium-photo/girl-striped-swimsuit-swimming-cap-puts-swimming-goggles-yellow-studio-background_383647-782.jpg?w=1380);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*we need add hidden-items into image*/
    overflow: hidden;
    /*display overflow when click the image */
}

.product-image-content9:hover .hidden-items-context {
    bottom: 0;
}

/* product outer */

/* About Outer */
.about-container {
    margin-top: 100px;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    min-height: 500px;
    display: flex;
    justify-content: center;
}

.about-inner {
    width: 70%;
    height: auto;
    /* border: 1px solid red; */
    min-height: 500px;
    display: flex;
    ;
}

.about {
    /* border: 1px solid red; */
    flex: 1;
}

.left-side-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.left-side-about h1 {
    margin-bottom: 25px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 25px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.left-side-about p {
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;
}

.left-side-about button {
    padding: 8px 15px;
    background: none;
    border: 1px solid black;
}

.left-side-about button:hover {
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}

.right-side-about {
    display: flex;
    flex-direction: column;
    /* border:1px solid red; */

}

.right-about-top {
    flex: 1;
    /* border:1px solid red; */
    display: flex;

}

.right-about-bottom {
    flex: 1;
    /* border:1px solid red; */
    display: flex;
}

.top-right {
    /* border:1px solid red; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(139, 136, 136);
    margin: 20px;
}

.top-left {
    background-image: url(https://img.freepik.com/premium-photo/black-bag-with-cross-it-is-bottle-eyeliner_853677-198141.jpg?w=740);
    background-repeat: no-repeat;
    background-size: cover;
    /* border:1px solid red; */
    flex: 1;
    margin: 20px;
}

.top-left1 {
    flex: 1;
    background-image: url(https://img.freepik.com/free-photo/young-beautiful-girl-holding-colorful-bags-gray-background_176420-5532.jpg?t=st=1727600123~exp=1727603723~hmac=c85aebfdf28b05527ef64cf9f2952bad416fefa9a39f1b65e8e25abc84172127&w=1060);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}

/* About Outer */

/* Social media */
.social-media-container {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    /* padding: 50px 50px; */
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.social-media-inner {
    /* border: 1px solid red; */
    width: 75%;
    height: auto;
}

.social-slider {
    width: 100%;
    height: 200px;
    /* border: 1px solid red; */
    margin-top: 25px;
    display: flex;
}

.social-element1 {
    flex: 1;
    /* border: 1px solid red; */
    background-image: url(https://img.freepik.com/free-photo/portrait-excited-beautiful-girl-wearing-dress-sunglasses-holding-shopping-bags-isolated-blue-wall_231208-549.jpg?t=st=1727603683~exp=1727607283~hmac=4673e1fbd0d59080fa0942625259fbab5c8e8657bc28854eb09f81f5bb009858&w=1060);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.social-element2 {
    flex: 1;
    /* border: 1px solid red; */
    background-image: url(https://img.freepik.com/free-photo/model-career-kit-still-life_23-2150229757.jpg?t=st=1727603755~exp=1727607355~hmac=f1d2750c86bb173a29a1fbbc3742a1dc4053eefef93a93f085ea967c765c4d52&w=1060);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.social-element3 {
    flex: 1;
    /* border: 1px solid red; */
    background-image: url(https://img.freepik.com/free-photo/pretty-happy-ecxited-teenage-girl-with-color-shopping-bags_231208-5343.jpg?t=st=1727603706~exp=1727607306~hmac=3ca5ab73b86db1bce9225e93e0689c95cd428cbb5584257d123571b24e0760e9&w=1060);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.social-element4 {
    flex: 1;
    /* border: 1px solid red; */
    background-image: url(https://img.freepik.com/free-photo/laptop-skincare-supplies_23-2147711561.jpg?t=st=1727603777~exp=1727607377~hmac=35662a1bb1bfcbb8b19e052afbecbd8420a4b349dd595f472ba951663bfa0b7e&w=740);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.social-element5 {
    flex: 1;
    /* border: 1px solid red; */
    background-image: url(https://img.freepik.com/free-photo/shopping-woman-smiling-holding-small-shopping-bags_231208-1942.jpg?t=st=1727603725~exp=1727607325~hmac=0d1f5d92895e8c35552069a71685ea66abb3f64970eff01098899b1c4c0c84f5&w=1060);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.social-element6 {
    flex: 1;
    /* border: 1px solid red; */
    background-image: url(https://img.freepik.com/premium-photo/dark-composition-luxury-womens-accessories-white-background-professional-8k-detailed-photo_1101825-79377.jpg?w=1380);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.social-shadow {
    background-color: rgba(44, 62, 80, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.social-element1:hover .social-shadow {
    display: block;
}

.social-element2:hover .social-shadow {
    display: block;
}

.social-element3:hover .social-shadow {
    display: block;
}

.social-element4:hover .social-shadow {
    display: block;
}

.social-element5:hover .social-shadow {
    display: block;
}

.social-element6:hover .social-shadow {
    display: block;
}

/* Social media */

/* email */
.email-container {
    margin-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
}

.email-inner {
    width: 75%;
    height: auto;
    /* border:1px solid red;  */
    display: flex;
}

.email-content {

    width: 70%;
    height: auto;
    padding-right: 30px;
    /* border:1px solid red;  */
    display: flex;
    flex-direction: column;
}

.others {
    flex: 1;
    /* border:1px solid red;  */
}

.email-content h1 {
    padding-top: 40px;
    ;
    padding-bottom: 20px;
}

.content {
    padding-top: 50px;
    /* justify-content: space-between; */
    display: flex;

}

.content span {
    background-color: rgb(20, 21, 21);
    color: aliceblue;
    margin-top: 10px;
}

.content span:hover {
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}

.others {
    display: flex;
    flex-direction: column;
}

.others-contain {
    flex: 1;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;

}

.others-contain-1 {
    display: flex;
    margin-right: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    flex: 1;

    /* border:1px solid red; */
}

.others-contain-1 h3 {
    color: black;
    font-weight: 20px;
}

.others-contain-1 h4 {
    color: rgb(72, 74, 75)
}

/* email */
/* footer */
footer {
    width: 100%;
    height: auto;

    background-color: rgb(63, 61, 61);
    display: flex;

    align-items: center;
    padding: 50px 0;
    flex-direction: column;
}

.footer-inner {
    width: 75%;
    height: auto;

    /* border:1px solid red; */
    display: flex;
    ;
}

.footer-slot {
    /* border:1px solid red; */
    flex: 1;
}

.footer-slot h4 {
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}

.footer-slot h3 {
    color: aliceblue;

}

.footer-slot ul {
    list-style: none;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}

.footer-slot ul li {
    margin-bottom: 8px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: aliceblue;
    margin-top: 50px;
}

.copy {
    margin-top: 50px;
}

.copy h4 {
    color: aliceblue;
}

.icons {
    padding: 10px 20px;
    font-size: 20px;
    margin: 5px;

}

/* footer */